#home-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-main {
  min-height: 70%;
  width: 50%;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.home-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.home-header>div {
  width: 80%;
}

.home-header>button {
  width: 20%;
}