#home-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-main {
  min-height: 70%;
  max-height: 90vh;
  width: 50%;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  gap: 8px;
  /* justify-content: center; */
}

.home-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
}

.home-header>div {
  width: 80%;
}

.home-content {
  width: 100%;
}